<html>
  <head>
        <title>{{ title }}</title>
        <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css' />
  </head>
  <body>

    <div class='container'>
      <h1>{{ title }}</h1>
    <div class='jumbotron'>
    This is my PostGres Twitter app!
    </div>

    <ul class='nav nav-pills' style='margin: 10px 0'>
      <li class='nav-item'>
        <a class='nav-link active' href='/'>HOME</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='/tweets'>TWEETS</a>
      </li>
      {% block content %}
      {% endblock %}
    </ul>
  </div>
  </body>
</html>
